<!--Content Heading Block-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <!--Message Block-->
<%- messages() %> <!-- the (#) disables the code while the (-) or unescaped indicator will display it-->

<!--Login Block-->
<%- logForm %>
<a title="Click to register" href="/account/registration">Register Here</a>