<!--Content Heading Block-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <!--Message Block-->
<%# messages() %> <!-- the (#) disables the code while the (-) or unescaped indicator will display it-->

<!--Login Block-->
<form action="../../controllers/accountController.js" method="post">
    <div class="login">
        <label for="account_email"><b>Email:</b></label><br>
        <input type="email" placeholder="Enter Email Address" name="account_email" required><br>

        <label for="account_password"><b>Password:</b></label><br>
        <input type="password" placeholder="Enter Password" name="account_password" required><br>

        <button id ="loginbutt" type="submit">LOGIN</button>
    </div>
</form>