<!--Content Heading Block-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <!--Message Block-->
<%# messages() %> <!-- the (#) disables the code while the (-) or unescaped indicator will display it-->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %> </li>
<%   })   %>        
       
    </ul>
<% } %>

<%- logForm %>
