<header id="top-header">
  <div id="tools">
      <a title="Click to go to sccount management page" href="/account/account">Welcome, </a>
      <a title="Click to log in" id="loginBtn" href="/account/login">My Account</a>
      <a title="Click to log out" id="logoutBtn" href="/" hidden>LogOut</a>
    </div>
    <span class="siteName">
      <a href="/" title="Return to home page"><b>CSE Motors</b></a>
    </span>
    
    <script src="../../js/opening.js"></script>
    
  </header>