<!--Content Heading Block-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!--Message Block-->
<%- messages() %> <!-- the (#) disables the code while the (-) or unescaped indicator will display it-->

<form action="/inventory/newClassAdd" id="addClass" method="post">
    <fieldset>
        <label for="classification_name">Classification: </label>
        <input type="text" placeholder="Classification Name" name="classification_name" required value="<%= locals.classification_name %>" pattern="[A-Za-z]{.}" title="Letters only">

        <button type="submit">CREATE</button>
    </fieldset>
</form>
