<!--Content Heading Block-->
<% if (title) { %>
    <h1 id="manag-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <!--Message Block-->
    <%- messages() %> <!-- the (#) disables the code while the (-) or unescaped indicator will display it-->

    <!--Management View-->
    <a title="Click to add a class of vehicles" href="/inventory/add-classification">New Classification</a>
    <a title="Click to add a new vehicle to the database" href="/inventory/addInventory">New Car</a>