<!--Content Heading Block-->
<% if (title) { %>
    <h1 id="manag-title"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <!--Message Block-->
    <%- messages() %> <!-- the (#) disables the code while the (-) or unescaped indicator will display it-->

    <!--Management View-->
<fieldset>
    <p>Click the button to add a new classification of vehicles</p>
    <a href="/inventory/add-classification" id="newClassBtn">New Classification</a>
    <p>Click the button to add a new vehicle to the inventory</p>
    <a href="/inventory/addInventory" id="newCarBtn">New Car</a>
</fieldset>