<!--Content Heading Block-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <!--Message Block-->
    <%# messages("Help! I'm stuck!") %> <!-- the (#) disables the code while the (-) or unescaped indicator will display it-->
    
    